{% extends 'base.html' %}

{% block content %}
<div class="blog-post">
    <h1>Current Standings</h1>
    <div class="meta">
        <span>By <strong>Dallas Hater</strong></span> | 
        <span>Date: <strong>October 06, 2024</strong></span> | 
    </div>
    <div class="content">
        <p>Commanders 4-1</p>
        <p>Cowgirls 3-2</p>
        <p>Eagles 2-2</p>
        <p>Giants 2-3</p>
    </div>
</div>
<br>
<div class="blog-post">
    <h1>The Dallas Cowgirls are currently 3-2</h1>
    <div class="meta">
        <span>By <strong>Dallas Hater</strong></span> | 
        <span>Date: <strong>October 06, 2024</strong></span> | 
    </div>
    <div class="content">
        <p>What a painful game. Watching America's Team kick 2 field goals in the first half when you have a solid receiving core is the definition of pain. The problem that dallas is facing is called overpaid QB syndrome. Once Dak got paid he forgot how to pay. The entire team looks disheveled. Maybe they could have used some of that Dak money to fix other spots in this failure of a team. </p>
    </div>
</div>
<br>
<div class="blog-post">
    <h1>The Dallas Cowgirls are currently 2-2</h1>
    <div class="meta">
        <span>By <strong>Dallas Hater</strong></span> | 
        <span>Date: <strong>September 26, 2024</strong></span> | 
    </div>
    <div class="content">
        <p>The Cowgirls secured a second win of the season. They barely beat out the NYG in an ugly game of penalties. At times during this game it was raining flags from all four corners of the field. Still not convinced they are a team worth worrying about.</p>
    </div>
</div>
<br>
<div class="blog-post">
    <h1>The Dallas Cowgirls are currently 1-2</h1>
    <div class="meta">
        <span>By <strong>Dallas Hater</strong></span> | 
        <span>Date: <strong>September 22, 2024</strong></span> | 
    </div>
    <div class="content">
        <p>Dallas Cowgirls first win was the only win so far this season. Most, if not all the blame should be on QB Dak Prescott. Overpaid and under delivering. He is the lone reason for Cowgirls 2 loses in a row. To be honest the staff at wedemboyz has no faith in the girls beating the Giants.</p>
    </div>
</div>
<br><br><br>
{% endblock %}